<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>INFOLEFT</title>
		<script type="text/javascript" src="js/gsap3.2.6.min.js"></script>
		<script type="text/javascript" src="js/webcg-framework.umd.js"></script>
		<script type="text/javascript" src="js/spx_cmdhandler.js"></script>
		<link rel="stylesheet" type="text/css" href="css/spx_layout.css" />
		<link rel="stylesheet" type="text/css" href="css/spx_fonts.css" />
		<link rel="stylesheet" type="text/css" href="customize.css" />
	
		<script>
	
			function runAnimationIN() {
				let logoPath="";
				let dur = 0.8;
				let logoDIV = document.getElementById('logo');
				let logoVAL = document.getElementById('f0').innerText;
				logoPath = "img/" + logoVAL.trim() + ".png";
				if (logoVAL=='0' || logoVAL=='')
					{
						// no logo
						logoDIV.style.display='none';
					}
				else
					{
						// use logo
						// console.log('Setting logo to ' + logoPath);
						document.getElementById('lSpace').src = logoPath;
						logoDIV.style.display='inline-block';
					}
	
	
				gsap.set("#TG", { opacity: 1 });
				gsap.fromTo("#logo", { scale:  0 }, { delay: 0.0, duration: dur - 0.0, scale    : 1, ease: "Power3.easeOut" });
				
				if (IsLoop){
					console.log('%c SPX LOOP MODE! Parameter loop=true. Animation will forcefully AUTO-LOOP. ', 'background: #222; color: #bada55');
					setTimeout(function(){ runAnimationOUT(); }, 3000);
					setTimeout(function(){ runAnimationIN(true); }, 5000);
				}
			}
	
			function runAnimationOUT() {
				let dur = 0.7;
				gsap.set("#TG",    { delay: dur - 0.0, opacity: 0 });
				gsap.fromTo("#logo", { scale:  1 }, { delay: 0.0, duration: dur + 0.1, scale     : 0,   ease: "Power4.easeIn" });
			}
		</script>
	
		<style>
	
			.tgpos{
				position: absolute;
				transform-origin: top left;
				display:inline-block;
				left: 1.2vw;
				top: 2%;
				z-index: 10;
				opacity:0;
			}
	
			.logo{
				position: relative;
				transform-origin: 25% 50%;
				background-color: var(--spx-bgcol1-color);
				padding: 0.9rem;
				margin:0px 0px;
			}

			#lSpace{
				width:20rem;
				height:auto;
			}
	
		</style>
	
		<script type="text/javascript">
			window.SPXGCTemplateDefinition = {
				"description": "Top left with logo",
				"playserver": "OVERLAY",
				"playchannel": "1",
				"playlayer": "7",
				"webplayout": "7",
				"out": "manual",
				"uicolor": "7",
				"DataFields": [
					{
						"field" : "f0",
						"ftype": "dropdown",
						"title": "logo",
						"value": "logo-text",
						"items": [
							{
								"text": "No logo",
								"value": "0"
							},
							{
								"text": "Logo with text",
								"value": "logo-text"
							},
							{
								"text": "Logo without text",
								"value": "logo-no-text"
							}
						]
					}
				]
			};
		</script>
	
	</head>
	
	<body>
		<div class="SPXWindow SPX_AUTOSIZE" data-spx-remember="Use either SPX_AUTOSIZE or SPX_FIXSIZE">
			<div id="TG" class="tgpos region SKEW LEFTELEMENTS">
				<div id="logo" style="display: inline-block;" class="logo fleft">
					<img id="lSpace" src=""/>
				</div>
			</div>
			<div style="display:none;"  id="f0"></div>
		</div data-info="SPXWindow ends">
	
	</body>
</html>